<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RabittMqAppender" type="SharedKernel.Logger.Appenders.RabittMqAppender, SharedKernel.Logger">
    <ApplicationName value="OpetNet" />
    <Topic value="OpetNet.EventListener.Service" />
    <Host value="rabbitmq.bne.com.br" />
    <User value="logger" />
    <Password value="l3it3c0mc4qu1" />
    <ExchangeName value="log" />
    <VirtualHost value="log" />
  </appender>
  <root>
    <level value="ERROR"/>
    <appender-ref ref="RabittMqAppender" />
  </root>
</log4net>
