@using OpetNet.Application.ViewModels
@model IEnumerable<CustomerViewModel>


<ul class="list-group">
    @foreach (CustomerViewModel customer in Model)
    {
        <li class="list-group-item">
            @customer.Name
            <a class="btn btn-primary" href="@Url.Action("AddFriend","Interactions", new {friendId = customer.Id })">Adicionar</a>
        </li>
    }
</ul>
