@using OpetNet.Application.ViewModels

<h5>Olá @User.Identity.Name</h5>
<partial name="~/Views/Home/Post/_CreatePost.cshtml" />

@if (ViewBag.PostsRecentes.Count != 0)
{
    @foreach (PostViewModel post in ViewBag.PostsRecentes)
    {
        <h5>-------------------------------------------------------</h5>
        <h4>@post.Customer.Name - Publicado em @post.DataPublicacao</h4>
        <p>@post.Mensagem</p>
        <h5>-------------------------------------------------------</h5>
    }




}
else
{
    <h1>Adicione novos amigos </h1>
}

@await Html.PartialAsync("~/Views/Home/_SujestaoDeAmizades.cshtml", (IEnumerable<CustomerViewModel>)ViewBag.SujestaoDeAmizades);